.menu a{
    text-decoration:none;
    color:#F8F8F6;
    padding: 5px;

    transition-property: color;
    transition-duration: 0.5s;

}

.icono_menu:hover a {
    
    color: black;
}

.menu, .servicios {
    background-color: #CE9F41;
    padding: 15px 0;
}

.cabecera {
    background-image: url('../images/banner.jpg'); 
    /* usamos color de fondo para mejorar experiencia de usuario a la hora del login de la pagina */
    background-color: #F8F8F6;
    /* tamaño de altura de la imagen que ocupe toda la resolución de la pantalla */
    height: 100vh;
    
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
}


.boton {
    background-color: #CE9F41;
    border-radius: 7px;
    border: solid 2px;
    width: 220px;
    height: 40px;
    font-weight: bold;
    margin: 20px 0;
    transition-property: color;
    transition-duration: 0.5s;
}

.boton:hover {
    color: #F8F8F6;
}

.section_login a {
    color: black;
    transition-property: color;
    transition-duration: 0.3s;
}

.section_login a:hover {
    color: #a78137;
}

.mas_info {
    margin: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #F8F8F6;

    transition-property: background-color;
    transition-duration: 1s;
}

.mas_info:hover { 
    margin: 0;
    background-color:  rgba(0, 0, 0, 0.712);
    }


.mas_info p {
    margin: 0;
    visibility: hidden;

}

.mas_info:hover p{ 
    margin: 0;
    visibility: visible;
    }

.form-control{
    border: none; 
    border-bottom: solid 1px #a78137; 
    border-radius: 0;
    background-color: #F8F8F6;
}

.img_sobre_nosotras{
    margin-right: 20px;
    max-height: 500px;
    width:auto;
    border-top-right-radius: 40%; 
    border-bottom-right-radius: 40%;
}

.sobre_nosotras{
    padding:0px 10px 30px 0px;
}

/* Clases del FOOTER */
.footer {
    background-color: rgb(24, 23, 23);
    color: #F8F8F6;
}

.img-logo {
    max-height: 45px;
    width: auto;
}

.img-icon {
    height: 40px;
    width: auto;
    padding: 7px;
    
}

.img-wpp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-height: 60px;
    width: auto;
    border-radius: 100%;
  
}

/* Clases de HTML otras */
.cabecera-otros {
    background-image: url('../images/baner_sin_titulo.jpg'); 
    background-color: #F8F8F6;

    min-height: 100vh;
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;

}

.form_login {
    min-width: 400px;
    padding: 70px 30px;
    border: solid 2px #a78137;
    background-color: #F8F8F6;
}

.form_login a {
    color: black;
    transition-property: color;
    transition-duration: 0.3s;
}

.form_login a:hover {
    color: #a78137;
}

.form_sinastria {
    min-height: 400px;
    min-width: 400px;
    padding: 70px 30px;
    margin: 5px;
    border: solid 2px #a78137;
    background-color: #F8F8F6;
}

.mapa iframe{
    height: 100%;
    width: 100%;
}


/* esto es tamaño medio */
@media screen and (min-width: 568px) {
    .borde_sinastria {
        border-bottom: 1px dashed #a78137;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

    .form_login {
        max-width: 900px;
    }

    .section_login {
        margin-top: 30%;
    }


  }

  /* esto es tamaño small */
  @media screen and (max-width: 567px) {
    .borde_sinastria {
      border-bottom: 1px dashed #a78137;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .img-icon {
        height: 40px;
        width: auto;
        /*background-color: #F8F8F6;*/
        padding: 7px;
        margin: 0 20px;
        
    }

    .section_login {
        margin-top: 45%;
    }

    .mapa iframe{
        height: 400px;
        width: 100%;
    }

  }

  /* esto es tamaño large */
  @media screen and (min-width: 992px) {

    .borde_sinastria {
        border-right: 1px dashed #a78137;
        border-bottom: none;
      }

  }