.col-md-1 a{
    text-decoration:none;
    color:#F8F8F6;
    font-size: 18px;
    padding: 5px;

    transition-property: color;
    transition-duration: 0.5s;

}


.col-md-1:hover > a {
    
    color: black;
}

.menu, .servicios {
    background-color: #CE9F41;
    padding: 15px 0;
}

.cabecera {
    background-image: url('images/banner.jpg'); 
    background-color: #F8F8F6;

    height: 100vh;
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;

    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;

}

.section_login {
    padding-top: 170%;
    text-align: center;
}

button {
    background-color: #CE9F41;
    border-radius: 7px;
    border: solid 2px;
    width: 220px;
    height: 40px;
    font-weight: bold;
    margin: 20px 0;
    transition-property: color;
    transition-duration: 0.5s;
}

button:hover {
    color: #F8F8F6;
}

.section_login a {
    color: black;
    transition-property: color;
    transition-duration: 0.3s;
}

.section_login a:hover {
    color: #a78137;
}

.mas_info {
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    color: #F8F8F6;
    font-size: 20px;  

    transition-property: background-color;
    transition-duration: 1s;
}

.mas_info:hover { 
    background-color:  rgba(0, 0, 0, 0.712);
    }


.mas_info > p {
    visibility: hidden;

}

.mas_info:hover > p{ 
    visibility: visible;
    }

.form-control{
    border: none; 
    border-bottom: solid 1px #a78137; 
    border-radius: 0;
}
